.video {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translateZ(-50rem) scale(1.52);
  transform-origin: 51% 50%;
  z-index: -50;
  min-height: 85rem;
}

.video::-webkit-media-controls {
  display: none;
}

.video::-webkit-media-controls {
  visibility: hidden;
}

.video::-webkit-media-controls-enclosure {
  visibility: visible;
}

@media (max-width: 88em) {
  .video {
    width: unset;
    max-width: unset;
    height: 100vh;
    max-height: 100vh;
    left: 50%;
    transform: translateX(-50%) translateZ(-50rem) scale(1.52);
  }
}
