.container {
  padding-bottom: 10rem;
}

.container .content {
  transform: translateY(20rem);
  opacity: 0;
  transition: all 0.5s;
}

.container:global(.active) .content {
  transform: translateY(0);
  opacity: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 64em) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 12.8rem;
  }
}

@media (max-width: 32em) {
  .content {
    grid-template-rows: 2fr 1fr;
  }
}
