.container {
  background-color: var(--color-dark--1);
  padding-bottom: 20rem !important;
}

.container :global(h2) {
  transform: translateY(20rem);
  opacity: 0;
  transition: all 0.5s;
}
.container .content {
  transform: translateY(20rem);
  opacity: 0;
  transition: all 0.5s;
}

.container:global(.active) :global(h2) {
  transform: translateY(0);
  opacity: 100%;
}
.container:global(.active) .content {
  transform: translateY(0);
  opacity: 100%;
}

.container :global(p) {
  color: var(--color-text-white--1);
}
.container :global(span) {
  color: var(--color-text-white--1);
}
.container :global(h2) {
  color: var(--color-text-white--1);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 64em) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8rem;
  }
}
